
         <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="about_area">
              <!-- START ABOUT HEADING -->
              <div class="heading">
                <h2 class="wow fadeInLeftBig">Credit cards</h2>
                <ul>                <p>We offer three cards to choose from, each one available in two options, the Low Rate Card or the Preferred Points Card.</p>
                   <li>VISA® Classic</li>
                   <li>VISA® Platinum</li>
                   <li>Gold MasterCard®</li>
                </ul> 
              </div>

              <!-- START ABOUT CONTENT -->
              <div class="about_content">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="about_featured">
                      <div class="panel-group" id="accordion">
                        <!-- START SINGLE FEATURED ITEAM #1-->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-parent="#accordion" href="#collapseOne">
                                 <span class="fa fa-check-square-o"></span>Personal Card – Low Rate
                              </a>
                            </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                             <ul>
                                <li>No annual fee.</li>
                                <li>Low introductory rate for the first six months.</li>
                                <li>Competitive annual percentage rate (APR).</li>
                                <li>Online account information available 24/7 at www.ibankmax.com</li>
                                <li>Rental car collision damage waiver protection.</li>
                                <li>25-day interest-free grace period on all purchases. No grace period on cash advances.</li>
                                <li>Other fees that may be charged are listed on the application.</li>
                             </ul>
                            </div>
                          </div>
                        </div>
                        <!-- START SINGLE FEATURED ITEAM #2 -->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-parent="#accordion" href="#collapseTwo">
                                 <span class="fa fa-check-square-o"></span>Personal Card – Preferred Points
                              </a>
                            </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                             <ul>
                                <li>No annual fee.</li>
                                <li>Low introductory rate for the first six months.</li>
                                <li>Competitive ongoing APR.</li>
                                <li>Use your Preferred Points Card to earn points that you can redeem for rewards. </li>
                                <li>Earn one point for each dollar spent, up to 10,000 points per month.</li>
                                <li>Rental car collision damage waiver protection.</li>
                                <li>Online account information available 24/7 at www.ibankmax.com</li>
                                <li>No grace period on cash advances.</li>
                                <li>Other fees that may be charged are listed on the application.</li>
                             </ul>
                            </div>
                          </div>
                        </div> 
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="about_slider">
                      <!-- BEGAIN FEATURED SLIDER -->
                      <div class="featured_slider">
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <a href="#"> <img src="img/full-slide7.jpg" alt="img"></a>                          
                        </div>
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <a href="#"> <img src="img/gold-credit-card.jpg" alt="img"></a>                          
                        </div>
                      </div>
                      <!-- END FEATURED SLIDER -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>       
      </div>
    </section>